
@{
    ViewBag.Title = "ContasAbertas_";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

@using Domain.Entity;
@using Infra.Repository;


@*select distinct  c.IdConta , c.DataConta , c.NumeroMesa , c.ValorConta from Tb_Conta c inner join Tb_ItemConta i
    on  c.IdConta = i.IdConta where c.StatusConta = 0*@


@{
    ContaRepository cr = new ContaRepository();
    List<Conta> listConta = new List<Conta>(cr.ObterTodos());

    ItemRepository ci = new ItemRepository();
    List<ItemConta> listItemConta = new List<ItemConta>(ci.ObterTodos());


    var listContasAbertas = listConta.Join(listItemConta
       , co => co.IdConta,
         it => it.IdConta,
        (conta, item) => new
        {
            conta.IdConta,
            conta.NumeroMesa,
            item.NomeProduto,
            item.QtdItem,
            conta.StatusConta,
            conta.DataConta,
            conta.ValorConta
        }).GroupBy(x => x.IdConta).Select(y => y.First())
        .Where(i => i.StatusConta == false)
        .OrderBy(x => x.DataConta)
        .ToList()
        ;
}
<div class="row">
    <div class="col-sm-3">
        <a href="~/ADM/CadastroConta">
            <img src="~/img/voltar.png" width="120" height="120" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="d1">
            <br />
            <div id="DivIncluir" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title text-center">Contas Abertas</div>
                </div>


                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        @*<td>
                                <label class="FonteMenuLabel text-center">Produto</label>
                            </td*@
                        @*<td class="text-center">
                                <label class="FonteMenuLabel text-center">Quantidade </label>
                            </td>*@
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Número mesa</label>
                        </td>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Valor</label>
                        </td>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Ações</label>
                        </td>

                    </tr>
                    @foreach (var item in listContasAbertas)
                    {
                        <tr>
                            @*<td>
                                    <label class="FonteMenuLabel text-center">@item.IdConta</label>
                                </td>
                                <td class="FonteMenu text-center">
                                    <label class="FonteMenuLabel text-center">@item.DataConta.ToString("dd/MM/yyyy")</label>
                                </td>*@
                            <td class="text-center">
                                <label class="text-center FonteMenuLabel">@item.NumeroMesa</label>
                            </td>
                            <td class="text-center">
                                <label class="FonteMenuLabel text-center">@item.ValorConta</label>
                            </td>
                            <td class="text-center FonteMenu">
                                @Html.ActionLink("Visualizar", "VerificarContaAberta", new { idConta = item.IdConta }, new { @class = "BTN_ALt" })

                                @Html.ActionLink("Editar", "EditContaAberta", new { id = item.IdConta, nMesa = item.NumeroMesa }, new { @class = "BTN_ALt" })

                                @Html.ActionLink("Excluir", "DeletContaAberta", new { id = item.IdConta }, new { @class = "BTN_ALt" })

                                @Html.ActionLink("Encerrar", "TheEndContaAberta", new { id = item.IdConta }, new { @class = "BTN_ALt" })

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
</div>


