<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
   

</head>
<body>
    <div class="container">
        <div class="well well-sm row">
            <div class="col-sm-4 text-left">
                <label>Casa Fragni</label>
            </div>
            <div id=Identificação class="col-sm-8 text-right ">
                <!-- <img src="~/img/instituto-infnet-original.png" width="25" /> -->
                @using Domain.Entity;
                @if (Session["usuariologado"] != null)
                {
                    Fucionario u = (Fucionario)Session["usuariologado"];
                    <label class="FonteMenu">Seja bem vindo @u.NomeFuncionario</label>
                }
                <!-- <br /> -->
                <label class="FonteMenu">@DateTime.Now.ToString("dd/MM/yyyy")</label>
                <!-- <br /> -->
                <a href="/ADM/Logout" class="btn btn-danger btn-sm">Sair</a>
            </div>
        </div>

        <!-- <div id=Identificação class="text-right">
            @using Domain.Entity;
            @if (Session["usuariologado"] != null)
            {
                Fucionario u = (Fucionario)Session["usuariologado"];
                <label class="FonteMenu">Seja bem vindo @u.NomeFuncionario</label>
            }
            <br />
            <label class="FonteMenu">@DateTime.Now.ToString("dd/MM/yyyy")</label>
            <br />
            <a href="/ADM/Logout" class="btn btn-danger btn-sm">Sair</a>
        </div> -->

        <!-- Local para entrada do conteudo das demais páginas -->
        @RenderBody()

        <footer>
            © @DateTime.Now.Year
        </footer>

    </div>
</body>
</html>
